*{
    box-sizing: border-box;
}

.top-header-area {
    position: fixed;
    width: 62.5%;
    height: 50px;
    top: 0;
    margin: auto;
    z-index: 1000;
    background-color: #0e2737; }
.top-header-area .top-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.top-header-area .top-header-content > a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    display: inline-block;
    margin-right: 50px;
}
.top-header-area .top-header-content > a:last-child {
    margin-right: 0; }
.top-header-area .top-header-content > a i {
    padding-right: 5px;
    color: #1cc3b2; }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-header-area .top-header-content > a {
        margin-right: 30px; } }
@media only screen and (max-width: 767px) {
    .top-header-area .top-header-content > a {
        margin-right: 15px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-header-area .top-header-content > a span {
        display: none; } }
@media only screen and (max-width: 767px) {
    .top-header-area .top-header-content > a span {
        display: none; } }
.top-header-area .top-header-content > a:hover, .top-header-area .top-header-content > a:focus {
    color: #afb4bf; }
.top-header-area .top-header-content .top-social-area a {
    display: inline-block;
    margin-right: 30px;
    color: #ffffff;
    line-height: 50px;
    font-size: 14px; }
.top-header-area .top-header-content .top-social-area a:last-child {
    margin-right: 0; }
@media only screen and (max-width: 767px) {
    .top-header-area .top-header-content .top-social-area a {
        margin-right: 15px; } }
.top-header-area .top-header-content .top-social-area a:hover, .top-header-area .top-header-content .top-social-area a:focus {
    color: #1cc3b2; }

.main-header {
    position: relative;
    height: 80px;
    line-height: 40px;
    background-color: #ffffff;
}
.main-header .navbar {
    position: fixed;
    top: 50px;
    width: 62.5%;
    z-index: 1000;
}
.main-header .container .search-btn {
    cursor: pointer;
}
.main-header .container ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #86B83F;
    font-weight: 500;
}
.img-home-slider {
    width: 100%;
    height: 600px;
}

.carousel-item .welcome-text {
    position: relative;
}
.carousel-item .welcome-text h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 30px; }
.carousel-item .welcome-text h2 {
    font-size: 72px;
    display: block;
    margin-bottom: 30px;
    color: #ffffff; }
.shopnow {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    padding: 0 40px;
    text-align: center;
    text-transform: capitalize;
    background-color: #1cc3b2;
    color: #ffffff;
}

.row-equal .card {
    width: 100%;
    padding: 0 50px;

}
/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active {
    display: flex;
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;

}
.slider {
    position: relative;
    top: -80px;
    text-align: center;
}
.main-header .lastest-new {
    width: 100%;
}
.main-header .banner {
    width: 85%;
}
.main-header .best-seller {
    margin-top: 100px;

}
.main-header .best-seller .header-best-seller {
    width: 63%;
    height: auto;
    margin: auto;
}

.carousel-inner>.row-icon-best-seller.active{
    display: flex;
}
.row-icon-best-seller .card {
    width: 100%;
}
.star-rating {
    line-height:20px;
    font-size:1.25em;
}
.star-rating .fa-star{color: yellow;}

#footer{
    background-color:#252932;
}
#footer .footer{
    padding-top: 15px;
}
footer{
    background-color:#252932;
    color: white;
    padding-bottom:45px;
}
#foot1,#foot2,#foot3,#foot4 a:hover{
    color: white;
    padding-left: 5px;
}

#foot1,#foot2,#foot3,#foot4 h4{
    color:#86B83F;
}


ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;

}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoRss {
    background-color: #F56505;
    color:#fff;
}
.social-network a.icoFacebook {
    background-color:#3B5998;
    color:#fff;
}
.social-network a.icoTwitter{
    background-color:#33ccff;
    color:#fff;
}
.social-network a.icoTumblr {
    background-color:#007bb7;
    color:#fff;
}
.social-network a.icoLinkedin {
    background-color:#3B5998;
    color:#fff;
}

a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;

}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}
